table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
    text-align: left;   
}

tr:nth-child(even) {
    background-color: lightgrey;
}

th:first-of-type {
    width: 10em;
}

.date {
    background-color: var(--bg-color);
    border-radius: 3em;
    width: 5em;
}