/*************************************************************************************************************************************************************************************************
Table
*************************************************************************************************************************************************************************************************/


table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
    text-align: left;   
}

tr:nth-child(even) {
    background-color: lightgrey;
}

th:first-of-type {
    width: 10em;
}

.date {
    background-color: var(--bg-color);
    border-radius: 3em;
    width: 5em;
}

/*************************************************************************************************************************************************************************************************
dropdown
*************************************************************************************************************************************************************************************************/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.content a:hover {
    background-color: #ddd;
}

.dropdown:hover .content {
    display: block;
}